
		     .header{
		     	background-color: #e0e2ef;
		     	width: 100%;

		     }

			.content{

				background-color: #d4edff;
                width: 100%;
			}
			.sidebar{
	
				background-color: #c0c0c0;  
				width: 100%; 

			}
			.footer{
           
			background-color: #e0e2ef;
			width: 100%;
				
			}

